extends layout

block content
	h2.page-header Register
	p Please register using the form below
	if errors
		each error, i in errors
			div.alert.alert-danger #{error.msg}
	form(method='post', action='/users/register',enctype='multipart/form-data')
		.form-group
			label Name
			input.form-control(name='name',type='text',placeholder='Enter name')
		.form-group
			label email
			input.form-control(name='email',type='email',placeholder='Enter email')
		.form-group
			label User Name
			input.form-control(name='username',type='text',placeholder='Enter Username')
		.form-group
			label Password
			input.form-control(name='password',type='password',placeholder='Enter password')
		.form-group
			label Password2
			input.form-control(name='password2',type='password',placeholder='Confirm password')
		.form-group
			label Profile Image
			input.form-control(name='profileimage',type='file')
		input.btn.btn-primary(type='submit',name='sumbit',value='Register')